*{
	box-sizing: border-box;
}
.footer{
	font-size: 50px;
	background-color: lightcoral;
	text-align: center;
}
.logo{
	width: 20%;
	float: left;
	max-width: 100%;
	max-height: 100%;
}
.menu{
	width: 80%;
	float: right;
	font-size: 30px;
	text-align: right;
	padding-top: 10px;
	padding-right: 40px;
}
.menu a{
	text-decoration: none;
	color: red;
	background-color: lightgreen;
	padding: 10px;
	border-radius: 100px;
}
.sidebar{
	width: 25%;
	float: left;
	background-color: yellow;
	text-align: center;
	font-size: 30px;
	height: 60vh;
	padding-top: 30px;
}
.sidebar div{
	font-size: 20px;
	border: 2px solid pink;
	text-decoration: none;
	padding: 5px;
	width: 80%;
	margin: 10px auto;
}
.maincontent{
	width: 75%;
	float: left;
    	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
.row{
	padding: 10px 100px;
	margin-bottom: 20px;
}               
.logo img{
	max-width: 100%;
}
.facultyprofile{
	float: left;
	width: 40%;
	text-align: center;
        margin-right: 90px;
        color: red;
}
.facultyprofile img{
	max-width: 100%;
}
.tc{
	font-size: 30px;
}
.student{
	width: 25%;
        float: left;
        text-align: center;
        margin-right: 75px;
        color: red;
}
